<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing checkli" >
    <test name="Checkli tests">
        <classes>
            <class name="tests.checkli.URCheckList"/>
            <class name="tests.checkli.RegisterWithInvalidFields"></class>
            <class name="tests.checkli.Login"></class>
        </classes>
    </test>
</suite>